
body {
    font-family: 'Helvetica', sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    color: black;
    text-align: left;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    margin: 20px 10px;
    text-align: left;
    display: flex;
}

.left a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;}

.left a:hover {
    text-decoration: none;}

.right {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px; 
}

.right a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin: 20px 10px; 
    text-align: left; 
}

.home-background {
    background-image: url('d:\PROMNET\UTS\DWIKAA.jpg');
    background-size: cover; 
    height: 100vh;
}

.home-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.home-content h1 {
    font-size: 36px;
    text-align: left;
}

.home-content p {
    font-size: 18px;
    text-align: left;
  
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.about-section {
    background-color: white;
    padding: 20px;
    text-align: left;
}

.right-btn {
    margin-left: auto;
    display: block;
}
.about-points {
    list-style: none; 
    padding: 0;
}

.about-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.about-paragraph {
    font-size: 16px;
    text-align: left;
}

.button-container {
    text-align: right;
}

.right-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    float: right;
    margin-left: 10px;
}

.work-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.work-item {
    flex: 1;
}

.work-item img {
     width: 100%;
}
    
.work-gallery {
    display: flex;
    justify-content: flex-end;
}

.work-item {
    margin-left: 10px; 
}

.work-item:last-child {
    margin-right: 0; 
}


.contact-content {
    display: flex;
    justify-content: flex-end;
}


.social-media {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.social-icon img {
    width: 24px;
    margin-right: 10px;
}

.form-input {
    margin-bottom: 15px;
}

.form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: darkgray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}